extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Matthew Burtonshaw

        p Full Stack JavaScript Developer


        .about-bio

          p My name is Matthew Burtonshaw. I've always had a leaning toward efficiency, design, and language. But I wouldn't put this together into a set of skills as a developer before going down some other roads. Due to a love of nature, aesthetics, and science, I studied horticulture and soon started my career on a research farm; working outside daily, I grow mushrooms and vegetables of all kinds. But at a certain point I realized it wasn't necessarily my career purpose.
          
          p I want a different kind of challenge and frankly, a new position with room for career growth. I want to challenge my brain at work more than my body. So I began to learn to code. After dabbling in a few free introductory online classes, I signed up with TeamTreeHouse and have made a lot of progress. Because of the lessons I've learned there, I feel fluent in client-side JavaScript and JQuery, and have experience working on applications that mimic projects I may encounter in a future career. During this, a close friend of mine also asked me to develop a website for his new cocktail bar. That gave me a lot of very hands-on experience with a designer, and I officially had my first client. 
          
          p I'm currently in the server-side part of my classes, actively learning more about back-end programming. I'm looking to continue my journey by finding a position in a company, and with a team that is interested in helping me to further grow my skills as a developer, and I'm eager to start!

        //the following classes are used for mobile styling
      .skills-contact-box.box
        h6(class="indent") Skills

        ul
          li(class="listed") HTML
          li(class="listed") CSS
          li(class="listed") JavaScript
          li(class="listed") Accessibility
          li(class="listed") JQuery
          li(class="listed") Fetch and Public APIs
          li(class="listed") JSON
          li(class="listed") Serving Static Files
          li(class="listed") Node.js
          li(class="listed") Express
          li(class="listed") Pug

        h6(class="indent") Contact Info

        ul
          li(class="listed") 440-749-5555
          li(class="listed") MBurtonshaw@gmail.com

        a.btn-link(target="_blank" href='https://www.linkedin.com/in/matthew-burtonshaw-9495b1191/') LinkedIn
        a.btn-link(target="_blank" href='https://github.com/MBurtonshaw?tab=repositories') GitHub
        a.btn-link(target="_blank" href='https://twitter.com') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back