extends layout.pug

block content

  article.portfolio-intro

    h1 Hey, Potential Employers!

    p My name is Matthew Burtonshaw and I'm a full-stack JavaScript student at TeamTreehouse. This portfolio is a collection of some projects I've worked on so far as I've been becoming a programmer. The portfolio itself could be viewed as a project demonstrating knowledge of server-side coding, Pug templates, and asynchronous JavaScript. Click on a project thumbnail to interact with any of my apps:


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file  
      
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

        .cell
          a(href='#')
            img.thumbnail(src='https://placehold.it/550x550', alt='Thumbnail ' + "")
            h5 My Site
            

