extends layout.pug

block content

  article.portfolio-intro

    h1.hat Hey, Potential Employers!

    p.shirt My name is Matthew Burtonshaw and I'm a full-stack JavaScript student at TeamTreehouse. This portfolio is a collection of some projects I've worked on so far as I've been becoming a programmer. The portfolio itself could be viewed as a project demonstrating knowledge of server-side coding, Pug templates, and scalability. Click on a project thumbnail to interact with any of my apps:


  article.portfolio-project-thumbs
    .projects-box.box.grid
        //"each" iterator used to cycle through the project ids; if less than three, they get the "is-visible" class to avoid them being hidden on page load
        each val in projects
            if val.id < 3
                .cell.fade-in.is-visible
                  a(href='/projects/' + val.id)
                    img.thumbnail(src= val.image_urls[0], alt='Thumbnail ' + val.project_name)
                    h5 #{val.project_name}
            else 
                //otherwise they only receive the fade-in class
                .cell.fade-in
                  a(href='/projects/' + val.id)
                    img.thumbnail(src= val.image_urls[0], alt='Thumbnail ' + val.project_name)
                    h5 #{val.project_name}

