extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back
  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
            //all variables w dot notation are pulling key/value data from data.json

            h1= project.project_name

            p= project.description
        
      .project-tech-links-box.box
        h6 Technologies

        ul
        //using an "each" iterator to print all the values in project.technologies to an li item
        each val in project.technologies
            li= val
        br
        a.btn-link(target="_blank" href= project.live_link) Live Demo
        a.btn-link(target="_blank" href= project.github_link) GitHub Repo

    .project-img-box.box

    //using bracket notation to target the image_urls array within the object of the projects array that corresponds to the url id
    img.project-img(src= project.image_urls[1], alt='Thumbnail picture for ' + project.project_name)
    img.project-img(src= project.image_urls[2], alt='Screenshot of ' + project.project_name class="fade-in")
    //conditional statement stating to load a third image if there is one to load
    if project.image_urls[3]
        img.project-img(src= project.image_urls[3], alt='Screenshot of ' + project.project_name class="fade-in")

    nav.nav
      a(href='/')
        span &larr;
        |  Back
