doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Random Quotes
    link(rel='stylesheet' href='./static/css/normalize.css')
    link(rel='stylesheet' href='./static/css/unit_one.css')
  body
    header
      h1 Random Quotes
      button#load-quote.load-quote Show another quote
    .container
      #quote-box.quote-box
        p.quote
          | "Every great developer you know got there by solving problems they were unqualified to solve until they actually did it."
        p.source
          | "Patrick McKenzie"
          span.citation "Twitter"
          span.year 2016
    script(src='./static/js/unit_one.js')
